@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveButton {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-family: "Nunito"; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

.container {
  max-width: 195rem;
  margin: 0 auto;
  background-color: #f4f4f4;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(11, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading {
  color: #003300;
  line-height: 1.5; }
  .heading-1 {
    font-size: 6.5rem;
    text-shadow: 0.4rem 0.2rem rgba(255, 255, 255, 0.8);
    font-family: "Lobster";
    margin-bottom: 2rem;
    word-spacing: 1rem;
    letter-spacing: .5rem; }
  .heading-2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 1rem;
    letter-spacing: .3rem;
    margin: 5rem 0; }
  .heading-3 {
    font-size: 3.5rem;
    color: #003300;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 1.2rem;
    font-weight: 300; }
  .heading-4 {
    font-size: 2.5rem;
    color: #003300;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: .5rem;
    font-weight: 300;
    margin-bottom: 2rem; }

.btn {
  display: inline-block;
  border: none;
  color: #003300;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5rem;
  padding: 1.5rem 5rem;
  border-radius: 100px;
  background-color: #fff;
  transition: all .2s;
  position: relative; }
  .btn:hover {
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    color: #63121a;
    background-color: #6faa6d; }
  .btn__header {
    animation: moveButton 1s ease-out; }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.9), rgba(204, 204, 204, 0.3)), url(/img/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .header__logo {
    margin-left: 2rem;
    height: 105px; }
  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10rem; }
    .header__navigation--box {
      list-style: none;
      display: flex; }
    .header__navigation--items {
      margin-right: .5rem; }
    .header__navigation--link {
      font-size: 3rem;
      font-weight: 400;
      color: #003300;
      text-transform: uppercase;
      padding: 2.5rem;
      border-radius: 10px;
      border-bottom: 2px solid transparent; }
      .header__navigation--link:hover {
        color: #63121a;
        border-bottom: 2px solid #63121a;
        background-color: rgba(99, 18, 26, 0.2); }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__heading {
    animation: moveRight 1s ease-out; }
  .header__second {
    animation: moveLeft 1s ease-out; }
  .header__span {
    color: #63121a; }

.now {
  color: #63121a;
  background-color: transparent;
  border-bottom: 2px solid #63121a;
  background-color: rgba(99, 18, 26, 0.2); }

.about {
  grid-column: full-start / full-end;
  padding: 25rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-gap: 2rem; }
  .about__content {
    background-color: rgba(111, 170, 109, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .about__pics {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: 2rem;
    background-color: rgba(111, 170, 109, 0.7);
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .about__pics--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 5px;
      z-index: 5;
      transition: all .3s;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
      border: 1px solid #6faa6d; }
      .about__pics--img:hover {
        transform: scale(1.5);
        opacity: 1;
        z-index: 10; }
  .about__p {
    font-size: 2rem;
    text-indent: 5rem;
    line-height: 1.8; }

.contact {
  grid-column: full-start / full-end;
  padding: 5rem 0;
  margin-bottom: 15rem; }
  .contact__pic {
    width: 80%;
    background-image: linear-gradient(105deg, rgba(204, 204, 204, 0.7) 0%, rgba(204, 204, 204, 0.7) 50%, rgba(255, 255, 255, 0.3) 50%), url("/img/nat-4.jpg");
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 5px; }

.form {
  width: 50%;
  padding: 6rem; }
  .form__title {
    margin-bottom: 5rem; }
  .form__area {
    width: 90%;
    height: 10rem;
    display: block; }
  .form__group:not(:last-child) {
    margin-bottom: 5rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #1b5e20; }
    .form__input:invalid {
      border-bottom: 3px solid #63121a; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    color: .form__label color-primary;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transform: translateY(0);
    transition: all .3s; }
    .form__label--mess {
      font-size: 1.8rem;
      color: #1b5e20;
      transform: translateY(0);
      transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__area:placeholder-shown + .form__label--mess {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio--group {
    width: 49%;
    display: inline-block; }
  .form__radio--input {
    display: none; }
  .form__radio--label {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio--button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #1b5e20;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem; }
    .form__radio--button::after {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #1b5e20;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio--input:checked ~ .form__radio--label .form__radio--button::after {
    opacity: 1; }

.footer {
  grid-column: full-start / full-end;
  background-color: #333;
  padding: 5rem 2rem;
  border-top: 1px solid rgba(51, 51, 51, 0.9);
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 3rem;
    justify-items: center;
    align-items: flex-end; }
  .footer__link {
    font-size: 2.5rem;
    font-weight: 700;
    color: #6faa6d;
    border-bottom: 2px solid transparent; }
    .footer__link:hover {
      color: #dd9b96;
      border-bottom: 2px solid #dd9b96; }
  .footer__copy {
    font-size: 3rem;
    color: #6faa6d; }

.section__feature {
  grid-column: full-start / full-end;
  padding: 25rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-image: linear-gradient(to right bottom, rgba(111, 170, 109, 0.8), rgba(0, 51, 0, 0.8)), url("../img/nat-4.jpg");
  background-size: cover; }
  .section__feature--box {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.8rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    transition: all .2s;
    margin: 0 2rem;
    padding: 2rem; }
    .section__feature--box:hover {
      transform: translateY(-1.5rem) scale(1.05);
      box-shadow: 0.5rem 1.5rem 4rem rgba(0, 0, 0, 0.4); }

.feature__content--icon {
  text-align: center;
  color: #1b5e20;
  font-size: 8rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  border: 1px solid #1b5e20;
  padding: 1.5rem; }

.section__tours {
  grid-column: full-start / full-end;
  padding: 15rem 0;
  margin: 0 15rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15rem, min-content));
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 15rem; }
  .section__tours--title {
    grid-column: 1 / 4;
    justify-items: center;
    align-items: center; }

.card {
  grid-row: 2;
  justify-content: center;
  align-content: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #dd9b96, #63121a); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #6faa6d, #003300); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #abdee8, #185774); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #dd9b96, #63121a), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #6faa6d, #003300), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #abdee8, #185774), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%; }
  .card__heading-span {
    padding: 2rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom, rgba(221, 155, 150, 0.95), rgba(99, 18, 26, 0.95)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom, rgba(111, 170, 109, 0.95), rgba(0, 51, 0, 0.95)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom, rgba(171, 222, 232, 0.95), rgba(24, 87, 116, 0.95)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price--box {
    color: #fff;
    margin-bottom: 8rem;
    text-align: center; }
  .card__price--only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price--value {
    margin: 0 auto;
    font-size: 6rem;
    font-weight: 100; }

.gallery {
  grid-column: full-start / full-end;
  padding: 15rem;
  display: grid;
  grid-template-rows: 10rem 1fr; }
  .gallery__title {
    grid-row: 1;
    text-align: center; }
  .gallery__pics {
    grid-row: 2;
    display: grid;
    grid-template-columns: 5rem repeat(3, 1fr) 5rem;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7); }
  .gallery__item--1 {
    grid-column: 2; }
  .gallery__item--2 {
    grid-column: 3; }
  .gallery__item--3 {
    grid-column: 4; }
  .gallery__item--4 {
    grid-column: 2; }
  .gallery__item--5 {
    grid-column: 3; }
  .gallery__item--6 {
    grid-column: 4; }
  .gallery__item--7 {
    grid-column: 2; }
  .gallery__item--8 {
    grid-column: 3; }
  .gallery__item--9 {
    grid-column: 4; }
