$color-primary: #1b5e20;
$color-primary-light: #6faa6d ;
$color-primary-dark: #003300 ;

$color-secondary: #bb3331;
$color-secondary-light: #dd9b96;
$color-secondary-dark: #63121a ;

$color-tertiary: #25b3bd;
$color-tertiary-light: #abdee8;
$color-tertiary-dark: #185774 ;

$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey-light-1: #ccc;
$color-grey-light-2: #eee;
$color-grey-light-3: #f4f4f4;

$font-default: 'Lobster';
$font-secondary: 'Nunito';
